.jumbotron {
    background-color:maroon;
    color: black;
    background-image: url("images/javascript.jpg");
}
h1{
    font-style: italic;
    font-family: fantasy;
}
#result{
    font-size: 40px;
    text-align: center;
    background-color: maroon;
    color: black;
}